<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<STYLE>A {text-decoration: none;} </STYLE>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "index/navstyle.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <title>CU Market</title>
</head>
<body>
    <nav>
        <div class="logo">
            <h4><a href="/">CU MARKETPLACE</a></h4>
        </div>
        <ul class="nav-links">
            <li>
                <a href="/logout">Log Out</a>
            </li>
            <li>
                <a href="#">Contact us</a>
            </li>
            <li>
              <a href="#">About Us</a>
          </li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>

    <script src = "{% static "index/app.js" %}"></script>
  </body>
  </html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="{% static "default_temp/cardstyle.css" %}">
            <title>Items</title>
        </head>
            <body>
                <div id="container">
                    <div class="product-details">
                        <h1>Email Sent</h1>
                        <p class="information">An email has been sent to your Gmail account Containing the product and the seller information
                        to go back to the product page please <a href="/product_sell">Click here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
