<!DOCTYPE html>
  </html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="{% static "default_temp/cardstyle.css" %}">
            <title>Items</title>
        </head>
            <body>
                <div id="container">
                    <div class="product-details">
                        <h1>Password Changed</h1>
                        <p class="information">You can now login using your new password</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
